*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*HEADER*/
header{
    background-color: black;
    height: 80px;
    width: 100%;
    padding-top: 10px;
}
.speaker{
    text-align: right;
   
}
.view, .simbol {
    margin-right: 5px;
    background-color: grey;
    padding: 3px 3px;
    border-radius: 5% ;
}

 .speaker i  {
     color: white;
 }
 .speaker span{
    color: white;
 }

 /*MAIN*/

main{
    height: calc(100vh - 180px);
    background-color: black;
    overflow-y: auto;
    padding-bottom: 50px;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    background-color: black;
    margin: 0 auto;
    justify-content: center;
}
.card{
    margin: 5px;  
    background-image: url("../imagine.jpg");
    width: 250px;
    height: 145px;
    position: relative;
}
.card span{
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    left: 0;
}
.card i{
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}



/*FOOTER*/

footer{
    background-color:#222222;
    height: 100px;
    width: 100;
    display: flex;
}
.firstmenu{
    background-color:none;
    width: 20%;
    margin-left: 10px;
    margin-top: 30px;
    display: flex;
}
.secondmenu{
    background-color: none;
    width: 70%;
}
.end{
    background-color:#4a4a4a;
    width: 15%;
}
footer i {
    color: white;
}
footer h5{
    color: white;
    margin-top: 10px;
}
.arrow{
    margin-top: 20px;
    margin-left: 20px;
}
.video{
    margin-left: 30px;
}
.video i{
    margin-left: 15px;
}
.secondmenu ul{
    display: flex;
   list-style: none;
   justify-content: center;
   margin-top: 30px;
}
li{
    
    padding: 0 8px;
}
#participants i{
    margin-left: 35px;
}
#share i{
    color: lightgreen;
    margin-left: 20px;
}
li .arrow{
    margin-left: 5px;
    margin-right: 10px;
}
#rooms i{
    margin-left: 30px;
}
#record i{
    margin-left: 5px;
}
#polling i{
    margin-left: 3px;
}
.end h5{
    color: red;
    font-size: 15px;
    text-align: center;
    margin-top: 40px;
}